{% extends "blogposts/base.html" %}

{% block page_header %}
	<div class="jumbotron">
		<h1 class="display-3">Read and be read.</h1>

		<p class="lead">Make posts about anything at all and read post 
		posts about anything at all. Just post for others to read and 
		read what others have posted.</p>

		{% if not user.is_authenticated %}
			<a class="btn btn-lg btn-primary" href="{% url 'users:register' %}"
				role="button">Resigter &raquo;</a>
		{% else %}
			<a class="btn btn-lg btn-primary" href="{% url 'blogposts:posts' %}"
				role="button">Read &raquo;</a>
		{% endif %}

	</div>
{% endblock page_header %}

{% block content %}
	<div>
		<h4>Most Recent Posts</h4>
		<div class="row">
		{% for title in title|slice:"3" %}
  			<div class="col-sm-4">
				<div class="card" >
					<div class="card-body">
						<h5 class="card-title"> {{ title }}</h5>
						<h6 class="card-subtitle mb-2 text-muted">{{ title.date|date:"M d, Y H:i" }}</h6>
						<p class="card-text">{{ title.post|truncatechars:150 }}</p>
						<a href="{% url 'blogposts:post' title.id %}" class="card-link">Read</a>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
{% endblock content %}

