{% extends "blogposts/base.html" %}


{% block content %}

	<div class="card mb-3">
		<h3 class="card-header"> {{ title }}</h3>
		<div class="card-body">
			<p>{{ content|linebreaks }}</p>
		</div>
		<div class="card-footer text-muted text-center">
			<small>
			<strong>
			{% if owner != user %}
				Post by: {{ title.owner }}.
			{% else %}
				Post by: you.
				<a href="{% url 'blogposts:edit_post' title.id %}">Edit post</a>
			{% endif %}
			</strong>
			<p>{{ title.date|date:"M d, Y H:i" }}</p>
			</small>

		</div>
	</div>

{% endblock content %}



