{% extends "blogposts/base.html" %}

{% block page_header %}
	<h1>Posts</h1>
{% endblock page_header %}


{% block content %}
	{% for title in title %}
		<div class="card mb-3">
			<div class="card-header">
				<h4>
					<a href="{% url 'blogposts:post' title.id %}">{{ title }}</a>
				</h4>
				{% if title.owner == user %}
					<small>
						<a href="{% url 'blogposts:edit_post' title.id %}">
							edit post</a>
					</small>
				{% endif%}
			</div>
			<div class="card-body">
				<h6>{{ title.date|date:'M d, Y H:i' }}</h6>
				{{ title.post|truncatechars:150 }}
			</div>
		</div>
	{% empty %}
		<li><h3>No posts yet</h3></li>
	{% endfor %}
	{% if user.is_authenticated %}
		<a href="{% url 'blogposts:new_post' %}">Add post</a>
	{% endif %}
{% endblock content %}
